name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Ensure script is executable
        run: chmod +x "./script_fbs.sh"
      - name: Run script in CI mode
        run: ./script_fbs.sh --ci
